/*************************** Check and Radio buttons * */
row label.subtitle { font-size: smaller; opacity: 0.55; text-shadow: none; }

row > box.header { margin-left: 12px; margin-right: 12px; min-height: 50px; }

row > box.header > box.title { margin-top: 8px; margin-bottom: 8px; }

row.expander { background-color: transparent; }

row.expander list.nested > row { background-color: alpha(#f6f5f4, 0.5); border-color: alpha(#cdc7c2, 0.7); border-style: solid; border-width: 1px 0px 0px 0px; }

row.expander image.expander-row-arrow { transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row.expander:checked image.expander-row-arrow { -gtk-icon-transform: rotate(0turn); }

row.expander:not(:checked) image.expander-row-arrow { opacity: 0.55; text-shadow: none; }

row.expander:not(:checked) image.expander-row-arrow:dir(ltr) { -gtk-icon-transform: rotate(-0.25turn); }

row.expander:not(:checked) image.expander-row-arrow:dir(rtl) { -gtk-icon-transform: rotate(0.25turn); }

row.expander:checked image.expander-row-arrow:not(:disabled) { color: #3584e4; }

row.expander image.expander-row-arrow:disabled { color: #929595; }

flap > dimming, leaflet > dimming { background: rgba(0, 0, 0, 0.12); }

flap > border, leaflet > border { min-width: 1px; min-height: 1px; background: rgba(0, 0, 0, 0.05); }

flap > shadow, leaflet > shadow { min-width: 56px; min-height: 56px; }

flap > shadow.left, leaflet > shadow.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to right, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

flap > shadow.right, leaflet > shadow.right { background-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

flap > shadow.up, leaflet > shadow.up { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

flap > shadow.down, leaflet > shadow.down { background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

flap > outline, leaflet > outline { min-width: 1px; min-height: 1px; background: rgba(255, 255, 255, 0.2); }

avatar { border-radius: 9999px; font-weight: bold; }

avatar.color1 { background-image: linear-gradient(#83b6ec, #337fdc); color: #cfe1f5; }

avatar.color2 { background-image: linear-gradient(#7ad9f1, #0f9ac8); color: #caeaf2; }

avatar.color3 { background-image: linear-gradient(#8de6b1, #29ae74); color: #cef8d8; }

avatar.color4 { background-image: linear-gradient(#b5e98a, #6ab85b); color: #e6f9d7; }

avatar.color5 { background-image: linear-gradient(#f8e359, #d29d09); color: #f9f4e1; }

avatar.color6 { background-image: linear-gradient(#ffcb62, #d68400); color: #ffead1; }

avatar.color7 { background-image: linear-gradient(#ffa95a, #ed5b00); color: #ffe5c5; }

avatar.color8 { background-image: linear-gradient(#f78773, #e62d42); color: #f8d2ce; }

avatar.color9 { background-image: linear-gradient(#e973ab, #e33b6a); color: #fac7de; }

avatar.color10 { background-image: linear-gradient(#cb78d4, #9945b5); color: #e7c2e8; }

avatar.color11 { background-image: linear-gradient(#9e91e8, #7a59ca); color: #d5d2f5; }

avatar.color12 { background-image: linear-gradient(#e3cf9c, #b08952); color: #f2eade; }

avatar.color13 { background-image: linear-gradient(#be916d, #785336); color: #e5d6ca; }

avatar.color14 { background-image: linear-gradient(#c0bfbc, #6e6d71); color: #d8d7d3; }

avatar.contrasted { color: #fff; }

avatar.image { background: none; }

viewswitchertitle viewswitcher { margin-left: 12px; margin-right: 12px; }

statuspage > scrolledwindow > viewport > box { margin: 36px 12px; border-spacing: 36px; }

statuspage > scrolledwindow > viewport > box > clamp > box { border-spacing: 12px; }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon:not(:last-child) { margin-bottom: 24px; }

preferencespage > scrolledwindow > viewport > clamp > box { margin: 0 12px; transition: margin-bottom 200ms ease, margin-top 200ms ease, border-spacing 200ms ease; }

preferencespage > scrolledwindow > viewport > clamp > box.small { margin-top: 18px; margin-bottom: 18px; border-spacing: 18px; }

preferencespage > scrolledwindow > viewport > clamp > box.medium { margin-top: 24px; margin-bottom: 24px; border-spacing: 24px; }

preferencespage > scrolledwindow > viewport > clamp > box.large { margin-top: 30px; margin-bottom: 30px; border-spacing: 30px; }

preferencesgroup > box > label:not(:first-child) { margin-top: 6px; }

preferencesgroup > box > box:not(:first-child) { margin-top: 12px; }

windowtitle .title { padding-left: 12px; padding-right: 12px; font-weight: bold; }

windowtitle .subtitle { font-size: smaller; padding-left: 12px; padding-right: 12px; opacity: 0.55; text-shadow: none; }

/*************************** Check and Radio buttons * */
listview.inline { background: none; }

popover.combo list, popover.combo listview { min-width: 200px; }

popover.combo > contents { padding: 0px; }

popover.combo > contents list, popover.combo > contents listview { border-style: none; background-color: transparent; }

popover.combo > contents list > row, popover.combo > contents listview > row { padding: 0px 12px 0px 12px; min-height: 50px; border-bottom: 1px solid alpha(#cdc7c2, 0.5); }

popover.combo > contents list > row:selected, popover.combo > contents listview > row:selected { outline-color: rgba(255, 255, 255, 0.8); color: black; background-color: #e8e6e3; }

popover.combo > contents list > row:first-child, popover.combo > contents listview > row:first-child { border-top-left-radius: 7px; border-top-right-radius: 7px; }

popover.combo > contents list > row:last-child, popover.combo > contents listview > row:last-child { border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; border-bottom: none; }

popover.combo > contents scrollbar.vertical { padding-top: 2px; padding-bottom: 2px; }

row.expander { padding: 0px; }

row.expander image.expander-row-arrow:dir(ltr) { margin-left: 6px; }

row.expander image.expander-row-arrow:dir(rtl) { margin-right: 6px; }

viewswitcher, viewswitcher button { margin: 0; padding: 0; }

viewswitcher button { border-radius: 0; border-top: 0; border-bottom: 0; box-shadow: none; font-size: 1rem; }

viewswitcher button:not(:checked):not(:hover) { background: transparent; }

viewswitcher button:not(:only-child):not(:last-child) { border-right-width: 0px; }

viewswitcher button:not(only-child):first-child:not(:checked):not(:hover), viewswitcher button:not(:checked):not(:hover) + button:not(:checked):not(:hover) { border-left-color: transparent; }

viewswitcher button:not(only-child):last-child:not(:checked):not(:hover) { border-right-color: transparent; }

viewswitcher button:not(:checked):hover:not(:backdrop) { background-image: image(lighter(#f6f5f4)); }

viewswitcher button:not(only-child):first-child:not(:checked):hover, viewswitcher button:not(:checked):hover + button:not(:checked):not(:hover), viewswitcher button:not(:checked):not(:hover) + button:not(:checked):hover { border-left-color: shade(#cdc7c2, 1.15); }

viewswitcher button:not(only-child):last-child:not(:checked):hover { border-right-color: shade(#cdc7c2, 1.15); }

viewswitcher button:not(:checked):hover:backdrop { background-image: image(#f6f5f4); }

headerbar viewswitcher button:not(:checked):hover:not(:backdrop) { background-image: linear-gradient(to top, shade(alpha(#f6f5f4, 0.7), 0.96) 2px, alpha(#f6f5f4, 0.7)); }

headerbar viewswitcher button:not(:checked):not(only-child):first-child:hover, headerbar viewswitcher button:not(:checked):hover + button:not(:checked):not(:hover), headerbar viewswitcher button:not(:checked):not(:hover) + button:not(:checked):hover { border-left-color: #cdc7c2; }

headerbar viewswitcher button:not(:checked):not(only-child):last-child:hover { border-right-color: #cdc7c2; }

headerbar viewswitcher button:not(:checked):hover:backdrop { background-image: image(#f6f5f4); }

viewswitcher button > stack > box.narrow { font-size: 0.75rem; padding-top: 7px; padding-bottom: 5px; }

viewswitcher button > stack > box.narrow image, viewswitcher button > stack > box.narrow label { padding-left: 8px; padding-right: 8px; }

viewswitcher button > stack > box.wide { padding: 8px 12px; }

viewswitcher button > stack > box.wide label:dir(ltr) { padding-right: 7px; }

viewswitcher button > stack > box.wide label:dir(rtl) { padding-left: 7px; }

viewswitcher button > stack > box label.active { font-weight: bold; }

viewswitcher button.needs-attention:active > stack > box label, viewswitcher button.needs-attention:checked > stack > box label { animation: none; background-image: none; }

viewswitcher button.needs-attention > stack > box label { animation: needs_attention 150ms ease-in; background-image: radial-gradient(#3584e4 50%, transparent), radial-gradient(rgba(255, 255, 255, 0.769231) 50%, transparent); background-size: 6px 6px, 6px 6px; background-repeat: no-repeat; background-position: right 0px, right 1px; }

viewswitcher button.needs-attention > stack > box label:backdrop { background-size: 6px 6px, 0 0; }

viewswitcher button.needs-attention > stack > box label:dir(rtl) { background-position: left 0px, left 1px; }

viewswitcherbar actionbar > revealer > box { padding: 0; }

list.content, list.content list, listview.content, listview.content list { background-color: transparent; }

list.content list.nested > row:not(:active):not(:hover):not(:selected), list.content list.nested > row:not(:active):hover:not(.activatable):not(:selected), listview.content list.nested > row:not(:active):not(:hover):not(:selected), listview.content list.nested > row:not(:active):hover:not(.activatable):not(:selected) { background-color: mix(#f6f5f4, #ffffff, 0.5); }

list.content list.nested > row.activatable:not(:active):hover:not(:selected), listview.content list.nested > row.activatable:not(:active):hover:not(:selected) { background-color: mix(#2e3436, #ffffff, 0.95); }

list.content > row:not(.expander):not(:active):not(:hover):not(:selected), list.content > row:not(.expander):not(:active):hover:not(.activatable):not(:selected), list.content > row.expander row.header:not(:active):not(:hover):not(:selected), list.content > row.expander row.header:not(:active):hover:not(.activatable):not(:selected), listview.content > row:not(.expander):not(:active):not(:hover):not(:selected), listview.content > row:not(.expander):not(:active):hover:not(.activatable):not(:selected), listview.content > row.expander row.header:not(:active):not(:hover):not(:selected), listview.content > row.expander row.header:not(:active):hover:not(.activatable):not(:selected) { background-color: #ffffff; }

list.content > row.activatable:not(.expander):not(:active):hover:not(:selected), list.content > row.expander row.header.activatable:not(:active):hover:not(:selected), listview.content > row.activatable:not(.expander):not(:active):hover:not(:selected), listview.content > row.expander row.header.activatable:not(:active):hover:not(:selected) { background-color: mix(#2e3436, #ffffff, 0.95); }

list.content > row, list.content > row list > row, listview.content > row, listview.content > row list > row { border-color: alpha(#cdc7c2, 0.7); border-style: solid; transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

list.content > row:not(:last-child), listview.content > row:not(:last-child) { border-width: 1px 1px 0px 1px; }

list.content > row:first-child, list.content > row.expander:first-child row.header, list.content > row.expander:checked, list.content > row.expander:checked row.header, list.content > row.expander:checked + row, list.content > row.expander:checked + row.expander row.header, listview.content > row:first-child, listview.content > row.expander:first-child row.header, listview.content > row.expander:checked, listview.content > row.expander:checked row.header, listview.content > row.expander:checked + row, listview.content > row.expander:checked + row.expander row.header { border-top-left-radius: 8px; border-top-right-radius: 8px; }

list.content > row:last-child, list.content > row.checked-expander-row-previous-sibling, list.content > row.expander:checked, listview.content > row:last-child, listview.content > row.checked-expander-row-previous-sibling, listview.content > row.expander:checked { border-width: 1px; }

list.content > row:last-child, list.content > row.checked-expander-row-previous-sibling, list.content > row.expander:checked, list.content > row.expander:not(:checked):last-child row.header, list.content > row.expander.checked-expander-row-previous-sibling:not(:checked) row.header, list.content > row.expander.empty:checked row.header, list.content > row.expander list.nested > row:last-child, listview.content > row:last-child, listview.content > row.checked-expander-row-previous-sibling, listview.content > row.expander:checked, listview.content > row.expander:not(:checked):last-child row.header, listview.content > row.expander.checked-expander-row-previous-sibling:not(:checked) row.header, listview.content > row.expander.empty:checked row.header, listview.content > row.expander list.nested > row:last-child { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

list.content > row.expander:checked:not(:first-child), list.content > row.expander:checked + row, listview.content > row.expander:checked:not(:first-child), listview.content > row.expander:checked + row { margin-top: 6px; }

button.list-button:not(:active):not(:checked):not(:hover) { background: none; border: 1px solid alpha(#cdc7c2, 0.5); box-shadow: none; }

window.csd.unified:not(.solid-csd):not(.fullscreen) headerbar { box-shadow: inset 0 1px rgba(255, 255, 255, 0.7); }

window.csd.unified:not(.solid-csd):not(.fullscreen) headerbar.selection-mode { box-shadow: none; }

window.csd.unified:not(.solid-csd):not(.fullscreen) > contents > outline { box-shadow: inset 0 1px rgba(255, 255, 255, 0.34); }

window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized), window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) > contents > outline { border-radius: 8px; }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon { color: rgba(46, 52, 54, 0.5); }

statuspage > scrolledwindow > viewport > box > clamp > box > .icon:backdrop { color: rgba(146, 149, 149, 0.5); }
